<!DOCTYPE html>
<html>
<head>
  <title>This is my test app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Adding a header title</h1>
  <br />
  <%= yield %>
  <br />
  <br />
  <h2>These are some credits</h2>
</body>
</html>
